src/main/mule/Create_xp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="post_xp" doc:id="dc6fc751-dd53-4b8e-99f8-4bca1b0a0849" >
		<logger level="INFO" doc:name='"POST /client request"' doc:id="c85994b7-374d-40e6-9f6b-9e112a59a59f" message='#["POST /client request"]'/>
		<http:request method="POST" doc:name="POST /client" doc:id="c2dd9c28-81ff-499d-886f-d5306ef04648" config-ref="HTTP_Request_configuration" path="/api/client"/>
		<logger level="INFO" doc:name='"POST /client response"' doc:id="0a5c2b59-ce4d-4d20-bc28-ffd843e58d10" message='#["POST /client response"]'/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="055dc5e6-5db8-43b4-adb9-3af669de32ef" type="HTTP:BAD_REQUEST">
				<ee:transform doc:name="Bad request" doc:id="dc263f66-606c-405b-8b3e-687f206e1ad2">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Bad request"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
