src/main/mule/Delete_xp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="delete_xp" doc:id="16f43865-ed67-4f19-a9fd-b6b425b64cfb" >
		<logger level="INFO" doc:name='"DELETE /client request"' doc:id="3e376af6-7ad1-4e99-a370-706af3791d6a" message='#["Requesting GET /client from system API"]'/>
		<set-variable value="#[message.attributes.queryParams.client_key]" doc:name="client_key" doc:id="36de9413-3fff-404f-b806-4e2797e286c3" variableName="client_key" />
		<http:request method="DELETE" doc:name="DELETE /client" doc:id="aceff0c7-e146-465b-ad78-a568d1129a5c" path="/api/client" config-ref="HTTP_Request_configuration">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"client_key" : vars.client_key
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name='"DELETE /client response"' doc:id="6473f36a-7f6a-4983-9a97-db5d4cdde3ed" message='#["DELETE response from system API"]'/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a42374ff-d6c9-4503-9d6d-eb74678f1017" type="HTTP:BAD_REQUEST">
				<ee:transform doc:name="Invalid client_key" doc:id="d7be4935-0b9c-478a-81ab-63678a06c263" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Invalid client_key"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="fc7abbe5-86c3-42ff-9d3b-fcc69a5c8c75" type="HTTP:NOT_FOUND" >
				<ee:transform doc:name="No file" doc:id="bfdf38d9-71d9-4e85-a997-2cd27dcfd23a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "No files or records found inside the folder."
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
