src/main/mule/Retrieve_xp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get_xp" doc:id="67c912e7-e352-473a-adc7-a4c6c6813d12" >
		<logger level="INFO" doc:name='"GET /client request"' doc:id="566e19c1-d307-4206-9ff6-75f94029ddf1" message='#["Requesting GET from system API"]'/>
		<http:request method="GET" doc:name="GET /client" doc:id="a84e60cd-da02-4a13-b073-0e09717df0aa" config-ref="HTTP_Request_configuration" path="/api/client"/>
		<logger level="INFO" doc:name='"GET /client response"' doc:id="19dc5215-5a6d-4843-b10c-e0f4f23bf2a5" message='#["GET response from system API"]'/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="28148d50-df84-4b71-a7b0-08fbb948cb2c" type="HTTP:NOT_FOUND" >
				<ee:transform doc:name="No file" doc:id="aa779d62-56b9-451d-b258-aa4f90417ac7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{message:"No files or records found inside the folder."} ]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
